.container {
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #242731;
  color: #FFFFFF;
  font-family: Poppins;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* navbar  */
.accountdao {
  display: flex;
  flex-direction: col;
  gap: 20px;
}

/* .overviewbox {
  width: 
} */
.overview {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  clear: both;
  box-shadow: 2px 2px #B98BE8;
  border-radius: 15px;
  padding: 30px 5px;
  background-color: #1F2129;
  color: #FFFFFF;
}

.overviewassets {
  float: left;
  width: 20%;
  text-align: center;
  padding: 5%;
  align-items: center;
  justify-content: space-between;
}

.overviewincoming {
  float: right;
  width: 20%;
  text-align: center;
  padding: 5%;
  vertical-align: middle;
  align-items: center;
  /* justify-content: center; */
}

.overviewoutgoing {
  margin: 0 auto;
  width: 20%;
  padding: 5%;
  text-align: center;
  align-items: center;
  /* padding: 2rem; */
}

/* for DAO description card */
.DAOcontainer {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-areas:
    "sidebar main main"
    "sidebar main main"
    "footer main main"
}

.DAObutton {
  border: 2px solid;
  width: 80px;
}

.DAOname {
  grid-area: sidebar;
}

.DAOdescription {
  grid-area: footer;
}

/* for chart card */
.chartContainer {
  margin-top: 80px;
  display: flex;
  width: 800px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.charttitle {
  margin-top: 30px;
  margin-left: 35px;
}

.chartone {
  flex: 1;
  /* background-color: #1F2129; */
  border-radius: 15px;
}

.charttwo {
  flex: 1;
  /* background-color: #1F2129; */
  border-radius: 15px;
}

/* for incoming page
  incoming and outgoing uses the same style */

.incomingoutgoing {
  width: 90%;
  clear: both;
  box-shadow: 2px 2px #B98BE8;
  border-radius: 15px;
  padding: 35px;
  background-color: #1F2129;
  color: #FFFFFF;
}

.tablebutton {
  background-color: #B98BE8;
  padding: 2px;
  border-radius: 35px;
  color: white;
  height: 36px;
  /* box-shadow: 2px 2px white; */
}

/* for settings page */
.settings {
  /* grid-auto-rows: minmax(100px, auto); */
  width: 100%;
  /* clear: both; */
  box-shadow: 2px 2px #B98BE8;
  border-radius: 15px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: #1F2129;
  color: #FFFFFF;
}

.settingsgrid {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  width: 80%;
  /* grid-template-columns: repeat(3, 1fr); */
  /* gap: 20px; */
}

.longinput {
  grid-column: 1;
  grid-row: 3;
  height: 100px;
}

.confirmbutton {
  margin: auto;
  height: 40px;
  width: 150px;
  border-radius: 15px;
  float: left;
  /* text-align: center; */
  align-items: center;
  margin-top: 4rem;
  margin-left: 35%;
  margin-bottom: 50px;
  background-color: #B98BE8;
}

/* for create page */
.noDAO {
  width: 30%;
  height: 50px;
  box-shadow: 2px 2px #B98BE8;
  flex-wrap: nowrap;
  border-radius: 15px;
  padding: 30px 5px;
  background-color: #1F2129;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.DAOlist {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 20px;
  width: 80%;
}

.DAOinstance {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 2px 2px #B98BE8;
  background-color: #1F2129;
  border-radius: 15px;
  text-align: "center";
  align-items: center;
}

.DAOaccess {
  text-align: center;
  border-radius: 8px;
  margin-bottom: 8px;
}

.addDAO {
  width: 100%;
  height: 183px;
  font-size: 8rem;
  box-shadow: 2px 2px #B98BE8;
  flex-wrap: nowrap;
  border-radius: 15px;
  /* padding: 30px 5px; */
  background-color: #1F2129;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
